* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans-Serif;
}
html, body {
    width: 100%;
    height: 100%;
}
.input-field {
    margin-top: 0;
    margin-bottom: 0;
}
#controls {
    position: absolute;
    top: 1vw;
    right: 1vw;
    width: 500px;
    border-radius: 4px;
    background-color: white;
    padding: 1vw;
    box-sizing: border-box;
    -webkit-transition: width 0.5s, height 0.5s;
    transition: width 0.5s, height 0.5s;
}
#header {
    display: inline-block;
}
#options {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}
#name {
    display: block;
    font-size: 1.4vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    user-select: none;
}
#author {
    font-size: 0.8vw;
    user-select: none;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #controls {
        width: calc(100% - 2vw);
    }
    #name {
        font-size: 5vw;
    }
}
@media only screen and (max-width: 1024px) {
    /* For laptops with smaller screens: */
    #name {
        font-size: 2.6vw;
    }
}
#hide-controls {
    float: right;
}
.label {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 10px;
    user-select: none;
}
.charge-selection {
    vertical-align: middle;
}
.charge-selection-options {
    display: inline-block;
    vertical-align: middle;
    height: 45px;
}
.charge-selection-option {
    border-width: 5px;
    border-style: solid;
    border-color: white;
    box-sizing: initial;
    display: inline-block;
    height: calc(100% - 10px);
    margin-right: 6px;
    border-radius: 100%;
    user-select: none;
}
.charge-selection-current-option {
    box-shadow: 0 0 5px;
}
#k-selector, #stride-selector, #charge-unit-selector, #charge-selector {
    display: inline-block;
}
#reset-btn {
    float: right;
}